################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Candidate/Candidate/bin/Debug/net8.0
/Candidate/.vs/Candidate
/Candidate/Candidate/obj
/Candidate/Candidate/Logs
